TargetPlatformModel System_Scenario1 {

TargetPlatformDefinition localhost
    {
        Linux "Ubuntu Linux 18.04 64bit"
        TargetMiddleware ACE_SmartSoft
        NetworkInterface eno1 { HostAddress "127.0.0.1" }
        LoginAccount giovanni { FullName "r1-user" Email "r1-user@facility.it" }
        CPU CPU4 { Kind "Intel DualCore 64bit" CoresTally 2 }
    }
}